<template>
  <div id="wrapper1">
    <table>
      <tr>
        <td align="center" style="border-bottom: 1px solid #000000;">
          TENTARA NASIONAL INDONESIA
        </td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <h3 class="ac">
      DAFTAR NAMA CALON TARUNA AKADEMI MILITER<br>
      YANG DIAJUKAN KE SIDANG PEMILIHAN<br>
      TINGKAT PUSAT</strong>
    </h3>
    <table class="table table-bordered table-striped table-hover" border="1" width="100%" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th colspan="3" rowspan="2"><div class="ac pd4px">NOMOR</div></th>
          <th rowspan="3">NAMA<br>TEMPAT DAN TANGGAL LAHIR<br>TB/BB; AGAMA; SUKU<br>PEKERJAAN ORTU</th>
          <th rowspan="3">ASAL SEKOLAH<br>NILAI RATA2<br>NEM</th>
          <th colspan="6" rowspan="2">NILAI RIK UJI</th>
          <th colspan="5">KETERANGAN</th>
          <th rowspan="3"><div class="pd4px">NILAI<br>AKHIR</div></th>
          <th rowspan="3"><div class="pd4px">KET</div></th>
          <th rowspan="3"><div class="pd4px">Lulus /<br>Tidak Lulus</div></th>
        </tr>
        <tr>
          <th></th>
          <th colspan="4">NILAI RIK/UJI JASMANI</th>
        </tr>
        <tr>
          <th><div class="pd4px">URT<br>BUKU</div></th>
          <th><div class="pd4px">URT<br>ASPEK</div></th>
          <th><div class="pd4px">PANDA<br>PUSAT/<br>GELANG</div></th>
          <th><div class="pd4px">MIN</div></th>
          <th><div class="pd4px">MI</div></th>
          <th><div class="pd4px">KESUM<br>KESWA</div></th>
          <th><div class="pd4px">PSI</div></th>
          <th><div class="pd4px">JAS</div></th>
          <th><div class="pd4px">AKD</div></th>
          <th><div class="pd4px">ASPEK KES</div></th>
          <th><div class="pd4px">POSTUR<br>a. NTT<br>b. NSA<br>c. SGP<br>d. N.POSTUR</div></th>
          <th><div class="pd4px">KESEGARAN<br>a. LARI 12 MENIT<br>b. PULL UPS<br>c. SIT UPS<br>d. PUSH UPS<br>e. SHUTTLE RUN<br>f. R A+B</div></th>
          <th><div class="pd4px">KETANGKASAN<br>a. RENANG GAYA/WKT<br>b. N.KAS</div></th>
          <th><div class="pd4px">ASPEK<br>a. MIN<br>b. JAS<br>c. MI</div></th>
        </tr>
        <tr>
          <th v-for="i in iiis">{{i}}</th>
          <th><a href="/taruna/cek-lulus-semua" class="btn btn-primary btn-sm">Cek Semua</a></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(calon,index) in data_calon">
          <td valign="top" class="ac"><div class="pd4px">{{ index+1 }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ index+1 }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.panda }}<br>{{ calon.pus_num.substring(0,9) }}</div></td>
          <td valign="top">
            <div class="pd4px">
            {{ calon.fullname }}<br>
            {{ calon.birthplace }},
            {{ calon.dob }}<br>
            {{ calon.height }} / 
            {{ calon.weight }}; 
            {{ calon.agama }}; 
            {{ calon.ethnic }}<br>
            {{ calon.pek_ortu }}
            </div>
          </td>
          <td valign="top">
            <div class="pd4px">
              {{ calon.schoolname }}<br>
              {{ calon.uan_score }}
            </div>
          </td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.kdstatus_min }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.kdstatus_mi }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.kdstatus_kes_1 }}<br>{{ calon.kdstatus_kes_2 }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.kdstatus_psi }}<br>{{ calon.nilai_psi }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.kdstatus_jas }}<br>{{ calon.nilai_jas }}</div></td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.kdstatus_akd }}<br>{{ calon.nilai_akd }}</div></td>
          <td valign="top" class="al"><div class="pd4px">{{ calon.ket_kes_1 }}</div></td>
          <td valign="top">
            <div class="pd4px">
              a. {{ calon.nilai_jas_ntt }}<br>
              b. {{ calon.nilai_jas_nsa }}<br>
              c. {{ calon.nilai_jas_sgp }}<br>
              d. {{ calon.nilai_jas_postur }}
            </div>
          </td>
          <td valign="top">
            <div class="pd4px">
              a. {{ calon.nilai_jas_lari }}<br>
              b. {{ calon.nilai_jas_pullup }}<br>
              c. {{ calon.nilai_jas_situp }}<br>
              d. {{ calon.nilai_jas_pushup }}<br>
              e. {{ calon.nilai_jas_shuttlerun }}<br>
              f. {{ calon.nilai_jas_rab }}
            </div>
          </td>
          <td valign="top">
            <div class="pd4px">
              a. {{ calon.nilai_jas_renang }}<br>
              b. {{ calon.nilai_jas_adiraga }}<br>
              c. {{ calon.nilai_jas_ketangkasan }}
            </div>
          </td>
          <td valign="top">
            <div class="pd4px">
            a. {{ calon.ket_min }}<br>
            b. {{ calon.ket_jas }}<br>
            c. {{ calon.ket_mi }}
            </div>
          </td>
          <td valign="top" class="ac"><div class="pd4px">{{ calon.nilai_akhir }}</div></td>
          <td valign="top"></td>
          <td valign="top" class="al">
            <div class="pd4px">
              <CeklisKelulusan :id="calon.id" :lulus="calon.lulus_pusat"></CeklisKelulusan>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'
  import CeklisKelulusan from './TarunaPantukhirCeklisKelulusanComponent'
  import axios from 'axios'

  export default {
    name: 'landing-page',
    components: { SystemInformation, CeklisKelulusan },
    data () {
      return {
        iiis: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
        data_calon: []
      }
    },
    mounted () {
      this.getDataTaruna()
    },
    methods: {
      goto (link) {
        // this.$electron.shell.openExternal(link)
        // router.push(link)
      },
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      getDataTaruna () {
        axios.get('http://localhost/diaga/public/index.php/data-taruna').then(response => {
          console.log(response)
          this.data_calon = response.data
        }).catch(error => {
          console.log(error)
        })
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size:10pt;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  .ac { text-align: center; }
  .al { text-align: left; }
  .pd4px {padding: 4px;}

  #wrapper1 {
    padding: 16px;
  }

  #wrapper {
    background:
      radial-gradient(
        ellipse at top left,
        rgba(255, 255, 255, 1) 40%,
        rgba(229, 229, 229, .9) 100%
      );
    height: 100vh;
    padding: 60px 80px;
    width: 100vw;
  }

  #logo {
    height: 120px;
    margin-bottom: 20px;
    width: auto;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
