<template>
  <div>
    <md-radio></md-radio>    
  </div>
</template>

<script>
  import axios from 'axios'
  import { Radio } from 'vue-material/dist/components'
  export default {
    components: { Radio },
    props: {
      id: Number,
      lulus: Number
    },
    data () {
      return {
        curr_id: this.id,
        curr_lulus: true,
        setatus: this.lulus,
        picked: 0
      }
    },
    mounted () {
      console.log(this.id)
      console.log(this.lulus)
      if (this.lulus === 0) this.picked = 0
      else if (this.lulus === 1) this.picked = 1
      else if (this.lulus === 2) this.picked = 2
    },
    methods: {
      ubahStatusKelulusan (event) {
        console.log(this.picked)
        axios.get('http://localhost/diaga/public/index.php/taruna/ceklis-lulus-pusat/' + this.curr_id + '/' + this.picked)
          .then(response => {
            console.log(response)
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
</script>